# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE files (e.g., Visual Studio Code)
.vscode/

# Logs and databases
*.log
*.sqlite

# Secrets folder contents (but not the folder itself)
_secrets/*
!_secrets/.gitkeep
.idea/*
.idea/
.idea
.DS_Store
.ipynb_checkpoints/
data/
!data/.gitkeep
